/* global */

html {
    background: #F5F6F8;
}

body {
    font-family : helvetica neue, helvetica, sans-serif ;
    font-size : 100% ;
    color : #404040 ;
    line-height: 1.4em;
    background-color : white ;
    width : 90% ;
    max-width: 900px ;
    padding : 40px 60px ;
    margin : auto ;
    display : block ;
}

@media (max-width: 960px) and (min-width: 480px) {
    body {
        padding : 20px 30px ;
    }
}

@media (max-width: 480px) {
    body {
        padding : 10px 15px ;
    }
}

img {
    max-width : 100% ;
    max-height : 100% ;
}

a {
    color : #337ab7 ;
    line-height: inherit ;
    font-size : inherit ;
}

a:hover {
    color : #296292 ;
}

h1 a {
    color : inherit !important ;
    text-decoration : none ;
}

/* #banner */

#banner {
    position : relative ;
    display : inline-block ;
}

#banner h1 {
    position : absolute ;
    top : 0px ;
    left : 20px ;
}

#banner p {
    position : absolute ;
    top :32px ;
    left : 140px ;
}

#banner img {
    position : relative ;
}

/* #menu */

#menu {
    margin-top : 3em ;
    margin-bottom : 3em ;
    border-bottom: 1px solid #ededed ;
    border-top: 1px solid #ededed ;
    display: !important ;
    font-size : 80% ;
    width: 100% ;
}

#menu ul {
    padding : 0 ;
    margin : 0 ;
}

#menu li {
    display : inline-block ;
    padding : 1em ;
    text-transform : uppercase ;
}

#menu li.active {
    border-bottom: 3px solid #404040 ;
}

#menu svg {
    margin-left : 10px ;
    margin-top : -6px ;
    display : inline-block ;
    vertical-align : middle ;
}

#menu a {
    color : #595959 ;
    text-decoration : none ;
}

#menu a:hover {
    color : #404040 ;
    text-decoration : underline ;
}

/* #post-list */

#post-list {
    list-style-type : none ;
    padding: 0 ;
}

#post-list li {
    margin-bottom : 30px ;
    padding-bottom: 30px ;
    border-bottom : 1px solid #ededed ;
}

#post-list li:last-child {
    padding-bottom: 0px ;
    border-bottom : none ;
}

/* article.hentry */

h2 {
    color: #ababab ; /*#404040*/
    margin-top: 1.8em ;
    margin-bottom: 1.8em ;
}

article.hentry h3 {
    margin : 0px ;
}

h2 a {
    color : #ababab ;
    text-decoration: none ;
}

h2 a, article.hentry h3 a {
    color : #404040 ;
    text-decoration: none ;
}

h2 a:hover, article.hentry h3 a:hover {
    color : #595959 ;
    text-decoration : underline ;
}

article.hentry div.entry-content p {
    margin-top: 5px ;
    margin-bottom: 0px ;
}

.post-info{
    margin-top: 5px ;
    color : #ababab ;
    font-size : 80% ;
}

/* cells */

div.prompt {
    min-width: 10ex;
}

pre {
    overflow-x: auto ;
}

div.input_area {
    margin-right : 2em ;
}

/* #contentinfo */

#contentinfo {
    margin-top : 2em ;
    padding-top: 2em ;
    border-top : 1px solid #ededed ;
    color : #ababab ;
    font-size : 80% ;
}

#contentinfo p {
    margin : 0px ;
}
